<!DOCTYPE html>
<meta charset="utf-8">
<style> /* set the CSS */

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

</style>
<body>

<!-- load the d3.js library -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<h5 style="color: blue">Price</h5>
<h5 style="color: red">Average Weekly</h5>
<h5 style="color: green">Average Monthly</h5>
<h5>Price = -1 for dates with undefined price</h5>

<h5 >Open JavaScript console to watch data</h5>
<script>

    // set the dimensions and margins of the graph
    var margin = {top: 20, right: 20, bottom: 30, left: 50},
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    // parse the date / time
    var parseDate = function formatDate(date) {
        var d = new Date(date)
        return d;
    };

    // set the ranges
    var x = d3.scaleTime().range([0, width]);
    var y = d3.scaleLinear().range([height, 0]);

    // define the 1st line
    var valueline = d3.line()
        .curve(d3.curveStepAfter)
        .x(function (d) {
            return x(d.date);
        })
        .y(function (d) {
            return y(d.price);
        });

    // define the 2nd line
    var valueline2 = d3.line()
        .curve(d3.curveStepAfter)
        .x(function (d) {
            return x(d.date);
        })
        .y(function (d) {
            return y(d.average_weekly);
        });
    // define the 2nd line
    var valueline3 = d3.line()
        .curve(d3.curveStepAfter)
        .x(function (d) {
            return x(d.date);
        })
        .y(function (d) {
            return y(d.average_monthly);
        });

    // append the svg obgect to the body of the page
    // appends a 'group' element to 'svg'
    // moves the 'group' element to the top left margin
    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");


    let data = jstree_jsondata ={{ data|safe }};
    console.log(data)


    // format the data
    data.forEach(function (d) {
        d.date = parseDate(d.date);

    });

    // Scale the range of the data
    x.domain(d3.extent(data, function (d) {
        return d.date;
    }));
    y.domain([0, d3.max(data, function (d) {
        return Math.max(d.price, d.average_weekly, d.average_monthly);
    })]);

    // Add the valueline path.
    svg.append("path")
        .data([data])
        .attr("class", "line")
        .attr("d", valueline);

    // Add the valueline2 path.
    svg.append("path")
        .data([data])
        .attr("class", "line")
        .style("stroke", "red")
        .attr("d", valueline2);
    // Add the valueline2 path.

    svg.append("path")
        .data([data])
        .attr("class", "line")
        .style("stroke", "green")
        .attr("d", valueline3);

    // Add the X Axis
    svg.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));

    // Add the Y Axis
    svg.append("g")
        .call(d3.axisLeft(y));


</script>
</body>
