<!doctype html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>

    <title>Test</title>
    <style>

    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h5>Add Product</h5>
            <form method="post" action="/insert_product">
                {% csrf_token %}
                Name:<input type="text" class="form-control" autocomplete="off" name="name" placeholder="Product Name">

                Price:<input type="number" class="form-control" autocomplete="off" name="price"
                             placeholder="Product Price">

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="product_type" id="gridRadios1"
                           value="Metal"
                           checked>
                    <label class="form-check-label" for="gridRadios1">
                        Metal
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="product_type" id="gridRadios2"
                           value="Plastic">
                    <label class="form-check-label" for="gridRadios2">
                        Plastic
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="product_type" id="gridRadios3"
                           value="Wood">
                    <label class="form-check-label" for="gridRadios3">
                        Wood
                    </label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Add Product</button>
            </form>
        </div>
        <div class="col-sm-4">
            <h5>Change Product Price</h5>

            <form method="post" action="/product_change_price">
                {% csrf_token %}
                Name:<input type="text" class="form-control" autocomplete="off" name="name" placeholder="Product Name">

                Price:<input type="number" class="form-control" autocomplete="off" name="price"
                             placeholder="Product Price">
                Start Date: <input id="startDate" name="start_date" autocomplete="off"/>
                End Date: <input id="endDate" name="end_date"  placeholder="max allowed if not defined" autocomplete="off"/>
                <br>
                <button type="submit" class="btn btn-primary">Change Product Price</button>
            </form>
        </div>
        <div class="col-sm-4">
            <h5>Change Price By Group</h5>

            <form method="post" action="/group_change_price">
                {% csrf_token %}

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="product_type" id="gridRadios4"
                           value="Metal"
                           checked>
                    <label class="form-check-label" for="gridRadios4">
                        Metal
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="product_type" id="gridRadios5"
                           value="Plastic">
                    <label class="form-check-label" for="gridRadios5">
                        Plastic
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="product_type" id="gridRadios6"
                           value="Wood">
                    <label class="form-check-label" for="gridRadios6">
                        Wood
                    </label>
                </div>


                Price:<input type="number" autocomplete="off" class="form-control" name="price"
                             placeholder="Group Price">
                Start Date: <input id="startDateGroup" name="start_date" autocomplete="off"/>
                End Date: <input id="endDateGroup" name="end_date" placeholder="max allowed if not defined" autocomplete="off"/>
                <br>
                <button type="submit" class="btn btn-primary">Change Price</button>

            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <hr>
    </div>
</div>

<h5 style="text-align:center">Data By Product Name</h5>
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <form method="post" action="/data_by_product_name">
            {% csrf_token %}

            Name:<input type="text" class="form-control" name="name" autocomplete="off" placeholder="Product Name">

            Start Date: <input id="startDateData" name="start_date" autocomplete="off"/>
            End Date: <input id="endDateData" name="end_date"  placeholder="max allowed if not defined"  autocomplete="off"/>
            <br>
            <button type="submit" class="btn btn-primary">Get Data</button>

        </form>
    </div>

    <div class="col-sm-4">
    </div>
</div>

<br>
<h5>Allowed date interval 2019-01-01  --  2020-01-01 (edit it in conf.py)</h5>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>


<script>
    $(document).ready(function () {

        $('#startDate').datepicker({
            format: 'yyyy-mm-dd',
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            minDate: '2019-01-01',
            maxDate: function () {
                return $('#endDate').val();
            }
        });
        $('#endDate').datepicker({
            format: 'yyyy-mm-dd',
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            maxDate: '2020-01-01',
            minDate: function () {
                return $('#startDate').val();
            }
        });
        $('#startDateGroup').datepicker({
            format: 'yyyy-mm-dd',
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            minDate: '2019-01-01',
            maxDate: function () {
                return $('#endDateGroup').val();
            }
        });
        $('#endDateGroup').datepicker({
            format: 'yyyy-mm-dd',
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            maxDate: '2020-01-01',
            minDate: function () {
                return $('#startDateGroup').val();
            }
        });
        $('#startDateData').datepicker({
            format: 'yyyy-mm-dd',
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            minDate: '2019-01-01',
            maxDate: function () {
                return $('#endDateData').val();
            }
        });
        $('#endDateData').datepicker({
            format: 'yyyy-mm-dd',
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            maxDate: '2020-01-01',
            minDate: function () {
                return $('#startDateData').val();
            }
        });
    })


</script>


</body>
</html>